<!-- <nav>
    <ul class="menu">
      <li class="is-active"><a routerLink="/login" routerLinkActive="active">Logout</a></li>
      <li><a routerLink="/index/listitem" routerLinkActive="active">List Item</a></li>
    </ul>
 </nav>
<hr>
<router-outlet></router-outlet> -->
<hr>
<div class="row m-b-18px">
    <div class="col-md-12">
        <!-- button to create new product -->
        <a [routerLink]="['/createbook']" class='btn btn-primary pull-right'>
            <span class='glyphicon glyphicon-plus'></span> Create Book
        </a>
    </div>
</div>
 
<div class="row">
    <div class="col-md-12">
 
        <!-- HTML table for our list of product records -->
        <table class='table table-hover table-responsive table-bordered'>
 
            <tr>
                <th>Book ID</th>
                <th>Name</th>
                <th>Author</th>
                <th>Price</th>
                <th>Availability</th>
                <th>Actions</th>
            </tr>
 
            <!-- Use *ngFor directive to loop throught our list of products. -->
            <tr *ngFor="let book of books">
                <td>{{book.id}}</td>
                <td>{{book.name}}</td>
                <td>{{book.author}}</td>
                <td>{{book.price}}</td>
                <td>{{book.availability}}</td>
                <td style="width:270px;">
                    <!-- read one product button -->                    
                    <a (click)="readOneBook(book.id )" class='btn btn-primary m-r-3px'>
                        <span class='glyphicon glyphicon-eye-open'></span> Read
                    </a>
 
                    <!-- edit product button -->
                    <a (click)="updateBook(book.id)" class='btn btn-info m-r-3px'>
                        <span class='glyphicon glyphicon-edit'></span> Edit
                    </a>
 
                    <!-- delete product button -->
                    <a (click)="deleteBook(book.id)" class='btn btn-danger m-r-3px'>
                        <span class='glyphicon glyphicon-remove'></span> Delete
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>